.file-upload-svg-name{
   text-align: center;
   margin: auto;
   font-size: 1.2em;
   padding: 1em 1em;
}

.upload-file-img{
   width: 4em;
   height: auto;
   padding-bottom: 20px;
}

.button-holder{
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 1em;
   flex-wrap: wrap;
}