.landing-div{
   background-color: (#ffffff);
   padding-top: 3.7em;
   overflow: hidden;
}

.landing-headline{
   height: auto;
   width: 110vw;
   transform: translateX(-0.3vw);
}

.landing-main-div{
   height: auto;
   max-width: 1250px;
   /* outline: 1pt black solid; */
   margin: auto;
   margin-top: 5vh;
   padding: 10px;
}

.landing-main-div .title{
   padding: 0.2em;
   font-size: 1.7em;
}

.landing-main-div .subtitle{
   padding: 0.2em;
   font-size: 1.2em;
   color: #9D9C9C;
}

.landing-main-div .file-box{
   /* outline: 1pt black solid; */
   margin: 2em 0 ;
   display: flex;
   align-items: center;
   justify-content: space-evenly;

}

.landing-main-div .file-box .custom-file-upload{
   color: #ffffff;
   background-color: var(--primary-green);
   cursor: pointer;
   font-size: 1.2em;
   font-weight: bold;
   border: none;
   border-radius: 1rem;
   padding: 1em 3em;
   transition: all .5s;
}

.landing-main-div .file-box .custom-file-upload input[type="file"]{
   display: none;
}

.landing-main-div .file-box .file-window{
   /* outline: #212121 dotted 5px; */
   text-decoration: none;
   width: 50%;
   height: 50vh;
}

.landing-main-div .file-box .file-window .file-button{
   outline: #212121 dashed 3px;
   border: none;
   width: 100%;
   height: 100%;
   text-align: center;
}

.landing-main-div .file-box .file-window .fVfcRr{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.cXBrtO span{
   text-decoration: none;
}

.fVfcRr > span{
   color: #212121;
   font-size: 1.2em;
   /* font-weight: bold; */
}

.fVfcRr .file-types{
   color: #212121;
   padding: 5px;
   font-size: 0.6em;
   /* font-weight: bold; */
}

.landing-main-div .file-box .file-window > svg{
   display: none;
}
.landing-main-div .youtube-link{
   padding: 0.6em;
   padding-left: 0.8em;
   width: 100%;
   font-size: 0.9em;
   color: #333333;
   outline: 1pt #656565 solid;
   border-radius: 0.3rem;
   margin-top: 0.2em;
   margin-left: 0.2em;
   margin-bottom: 3em;
}

.landing-main-div .button-holder{
   margin: auto;
   text-align: center;
}

.landing-main-div .submit-button{
   color: #ffffff;
   background-color: var(--primary-green);
   cursor: pointer;
   font-size: 1.2em;
   font-weight: bold;
   border: none;
   border-radius: 1rem;
   padding: 1em 4em;
   margin-bottom: 3em;
   transition: all .5s;
   position: relative;
   -webkit-transition: all 0.7s ease;
   transition: all 0.7s ease;
   /* outline: 1pt #656565 solid; */
}

.landing-main-div .submit-button::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0px;
   width: 0px;
   height: 3px;
   background: #d0f9c7;
   transition: all 0.4s ease;
}

.landing-main-div .submit-button::after{
   top: inherit;
    left: inherit;
    bottom: 0;
    right: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 0px;
    height: 3px;
    background: #d0f9c7;
    transition: all 0.4s ease;
}


.landing-main-div .submit-button:hover{
   color: #eeeeee;
   transform: scale(1.1);
}
