.landing-div{
   background-color: (#ffffff);
   padding-top: 3.7em;
   overflow: hidden;
}

.landing-headline{
   height: auto;
   width: 110vw;
   transform: translateX(-0.3vw);
}@media screen and (max-width:768px) {
   .landing-tagline-small{

   }
}@media screen and (max-width:540px) {
   .landing-tagline-small{
      margin-top: 20px;
      transform: translateX(-50px);
   }
}

.landing-main-div{
   height: auto;
   max-width: 1200px;
   /* outline: 1pt black solid; */
   margin: auto;
   margin-top: 5vh;
   padding: 5%;
}

.landing-main-div .title{
   padding: 0.2em;
   font-size: 1.7em;
}

.landing-main-div .subtitle{
   padding: 0.2em;
   font-size: 1.2em;
   color: #9D9C9C;
}

.landing-main-div .file-box{
   /* outline: 1pt black solid; */
   margin: 2em 0 ;
   display: flex;
   align-items: center;
   justify-content: space-evenly;

}

.landing-main-div .file-box .custom-file-upload{
   color: #ffffff;
   background-color: var(--primary-green);
   cursor: pointer;
   font-size: 1.2em;
   font-weight: bold;
   border: none;
   border-radius: 1rem;
   padding: 1em 3em;
   transition: all .5s;
}

.landing-main-div .file-box .custom-file-upload:hover{
   background-color: var(--secondary-green);
}
.landing-main-div .file-box .custom-file-upload input[type="file"]{
   display: none;
}

.landing-main-div .file-box .file-window{
   /* outline: #212121 dotted 5px; */
   text-decoration: none;
   width: 50%;
   height: 50vh;
}@media screen and (max-width:748px){
   .landing-main-div .file-box .file-window{
      display: none;
   }
   .file-or{
      display: none;
   }
}

.landing-main-div .file-box .file-window .file-button{
   outline: #212121 dashed 3px;
   border: none;
   width: 100%;
   height: 100%;
   text-align: center;
}

.landing-main-div .file-box .file-window .fVfcRr{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.cXBrtO span{
   text-decoration: none !important;
}

.fVfcRr > span{
   color: #212121 !important;
   font-size: 1.2em !important;
   font-weight: bold !important;
}

.fVfcRr .file-types{
      overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    max-width: 300px !important;
   color: #393838 !important;
   padding: 10px !important;
   font-size: 0.6em !important;
   /* font-weight: bold !important; */
   text-overflow: inherit;

}

.landing-main-div .file-box .file-window > svg{
   display: none;
}
.landing-main-div .youtube-link{
   padding: 0.6em;
   padding-left: 0.8em;
   width: 100%;
   font-size: 0.9em;
   color: #333333;
   outline: 1pt #656565 solid;
   border-radius: 0.3rem;
   margin-top: 0.2em;
   margin-left: 0.2em;
   margin-bottom: 3em;
}

.landing-main-div .button-holder{
   margin: auto;
   text-align: center;
}

.landing-main-div .submit-button{
   color: #ffffff;
   background-color: var(--primary-green);
   cursor: pointer;
   font-size: 1.2em;
   font-weight: bold;
   border: none;
   border-radius: 1rem;
   padding: 1em 4em;
   margin-bottom: 3em;
   position: relative;
   -webkit-transition: all 0.5s ease;
   transition: all 0.5s ease;
   /* outline: 1pt #656565 solid; */
}
/* sliding animation on hover */
.landing-main-div .submit-button:hover{
   background-color: var(--secondary-green);
   transform: translateY(-0.2em);
}
.landing-main-div .submit-button:hover{
   color: #eeeeee;
   transform: scale(1.1);
}

button {
   margin: 20px;
 }
 .custom-btn {
   color: #ffffff;
   background-color: var(--primary-green);
   font-size: 1.2em;
   border: none;
   padding: 1em 4em;
   margin-bottom: 3em;
   transition: all .5s;
   -webkit-transition: all 0.5s ease;
   transition: all 0.5s ease;
   border-radius: 5px;
   font-weight: 900;
   background: transparent;
   cursor: pointer;
   transition: all 1s ease;
   position: relative;
   display: inline-block;
   outline: none;
 }
 
 /* 3 */
 .btn-3 {
   background: var(--primary-green);
   padding: 1em 4em;
   border: none;
   
 }
 .btn-3 span {
   position: relative;
   display: block;
   width: 100%;
   height: 100%;
 }
 .btn-3:before,
 .btn-3:after {
   position: absolute;
   content: "";
   right: 0;
   top: 0;
    background: var(--primary-green);
   transition: all 0.5s ease;
 }
 .btn-3:before {
   height: 0%;
   width: 2px;
 }
 .btn-3:after {
   width: 0%;
   height: 2px;
 }
 .btn-3:hover{
    background: transparent;
   box-shadow: none;
 }
 .btn-3:hover:before {
   height: 100%;
 }
 .btn-3:hover:after {
   width: 100%;
 }
 .btn-3:hover{
    color: var(--primary-green);
 }
 .btn-3 .inside-container:before,
 .btn-3 .inside-container:after {
   position: absolute;
   content: "";
   left: 0;
   bottom: 0;
    background: var(--primary-green);
   transition: all 0.5s ease;
 }
 .btn-3 .inside-container:before {
   width: 2px;
   height: 0%;
 }
 .btn-3 .inside-container:after {
   width: 0%;
   height: 2px;
 }
 .btn-3 .inside-container:hover:before {
   height: 100%;
 }
 .btn-3 .inside-container:hover:after {
   width: 100%;
 }

 .custom-btn .inside-container {
   position: absolute;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
 }

hr{
   height: 5px;
   background-color: #212121;
   opacity: 0.5;
   margin-bottom: 1.5em;
}
 
 