.why-div{
  padding: 2em 1em;
  min-height: 90vh;
}

.why-div .head {
  text-align: center;
  color: #212121;
  font-size: 2.5em;
  font-weight: 200;
  padding-bottom: 1em;
}@media screen and (max-width:748px){
     .why-div .head {
        padding-bottom: 0.5em;
     }
}

.wrappup{
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  gap: 2%;
  /* align-items: center; */
  justify-content: center;
}

.usecase-box-wrapper{
  max-width: 400px;
  background-color: #66BAA7;
  margin: 20px;
}

.usecase-box{
  background-color: rgba(102, 186, 167, 0.55);
  height: 95%;
  padding: 1em 2em 1em 1em;
}

.usecase-box .title{
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 600;
  color: #212121;
  padding-bottom: 1em;
}

.usecase-box .content{
  font-size: 1.3em;
  padding-bottom: 3em;
}