
.examples-div{
   background-color: var(--secondary-green);
   padding: 2em 1em;
   padding-bottom: 4em;
}

.example-container{
   max-width: 1400px;
   margin: auto;
}

 .examples-div .head {
   text-align: center;
   color: white;
   font-size: 2.5em;
   font-weight: 200;
   padding-bottom: 1em;
 }@media screen and (max-width:748px){
      .examples-div .head {
         padding-bottom: 0.5em;
      }
 }
 

 .completecompo1, .completecompo2, .completecompo3{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 10%;
 }@media screen and (max-width:1024px){
   .completecompo1, .completecompo2, .completecompo3{
      padding-bottom: 3em;
   }
}@media screen and (max-width:768px){
   .completecompo1, .completecompo2, .completecompo3{
      padding-bottom: 1em;
   }
}@media screen and (max-width:540px){
   .completecompo1, .completecompo2, .completecompo3{
      padding-bottom: 2em;
   }
}

 .completecompo2 {
   flex-direction: row-reverse;
 }


 .image {
   width: 35%;
 }@media screen and (max-width:1024px){
   .image {
     width: 40%;
   }
 }@media screen and (max-width:748px){
   .image {
     width: 80%;
   }
 }@media screen and (max-width:540px){
   .image {
     width: 90%;
   }
 }
 

 .example-container .example-text{
   max-width: 40%;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 100;
 }@media screen and (max-width:1024px){
   .example-container .example-text{
       font-size: 1.5em;
       padding: 1em 0em;
    }
 }@media screen and (max-width:748px){
   .example-container .example-text{
       font-size: 1.5em;
       padding: 1em 0em;
       text-align: center;
    }
 }@media screen and (max-width:540px){
   .example-container .example-text{
      max-width: 100%;
       font-size: 1.5em;
       padding: 1em 0em;
       text-align: center;
    }
 }
 
 .example-container .example-text2{
  padding-left: 4%;
 }