.pg-viewer-wrapper blockquote, .pg-viewer-wrapper body, .pg-viewer-wrapper bodyaddress, .pg-viewer-wrapper center, .pg-viewer-wrapper dd, .pg-viewer-wrapper dir, .pg-viewer-wrapper div, .pg-viewer-wrapper dl, .pg-viewer-wrapper dt, .pg-viewer-wrapper fieldset, .pg-viewer-wrapper form, .pg-viewer-wrapper frame, .pg-viewer-wrapper frameset, .pg-viewer-wrapper h1, .pg-viewer-wrapper h2, .pg-viewer-wrapper h3, .pg-viewer-wrapper h4, .pg-viewer-wrapper h5, .pg-viewer-wrapper h6, .pg-viewer-wrapper hr, .pg-viewer-wrapper html, .pg-viewer-wrapper menu, .pg-viewer-wrapper noframes, .pg-viewer-wrapper ol, .pg-viewer-wrapper p, .pg-viewer-wrapper pre, .pg-viewer-wrapper ul {
   display: block;
   unicode-bidi: embed;
   text-align: center !important;
   padding: 5px 10px;
   max-width: 1400px;
   margin: auto;
   /* hide scrollbar */

}

.pg-viewer-wrapper .pg-viewer {
   /* height: 100%; */
   position: relative;
   -webkit-box-flex: 2;
   -ms-flex-positive: 2;
   flex-grow: 2;
}

.pg-viewer-wrapper{
   background-color: var(--primary-green);
   overflow-y: scroll;
   overflow-x: hidden;
   height: 1000px;
   max-width: 1400px;
   margin: auto;
}

