:root{
   --primary-green: #66BAA7;
   --secondary-green: #4E8679;
}
* {
   border: 0;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: nunito, sans-serif;
 }
 
 body {
   font-size: 20px;
   background-color: #fefefe;
 } @media(max-width: 638px) {
   body{
      font-size: 14px;
   }
} @media(max-width: 768px) {
   .nav-wrapper {
      font-size: 16px;
   }
 }@media(max-width: 540px) {
   body {
      font-size: 12px;
   }
 }

 a {
   color: inherit;
   font-family: inherit;
   font-size: inherit;
   text-decoration: none;
 }

 /* custom scrollbar */
   ::-webkit-scrollbar {
      width: 10px;
   }
   ::-webkit-scrollbar-thumb {
      background: #66BAA7;
      border-radius: 1px;
   }
   ::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(78, 134, 121, 0.8);
   }
   ::-webkit-scrollbar-thumb:hover {
      background: rgba(78, 134, 121, 1);
   }
   ::-webkit-scrollbar-thumb:active {
      background: rgba(78, 134, 121, 1);
   }

